<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice total:</strong>
  <%= @invoice.invoice_total %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @invoice.diagnostic_id %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
