<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @time_slot.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @time_slot.time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @time_slot.duration %>
</p>

<%= link_to 'Edit', edit_time_slot_path(@time_slot) %> |
<%= link_to 'Back', time_slots_path %>
