<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>
<%= link_to 'Edit', edit_patient_path(@patient) %>
<p>
  Welcome <strong>Mr./Ms. <%= @patient.last_name %></strong>! Would you like to schedule an appointment now?
</p>

<%= link_to 'Yes', new_appointment_path(@appointment) %>
<%= link_to 'No', root_path %>

