<h1 class = "centered fancy" >Dermatology Office</h1>
<div id="welcome">
  <h2 id="welcome-message">Welcome to your local dermatology office.</h2>

  <head><script type="text/javascript">
      function goToNewPage()
      {
          var url = document.getElementById('list').value;
          if(url != 'none') {
              window.location = url;
          }
      }
  </script></head>

  <div id="user">
    <p>If you are a new patient please click new patient and follow the instructions.</p>
    <%= link_to 'New Patient', new_patient_path %>
    <p>If you are a returning patient that needs to reschedule an appointment or cancel an appointment please click <%= link_to 'here', appointments_path %>.</p>
    <p>If you are a administrator please select an option.
    <select name="list" id="list" accesskey="target">
      <option value ='physicians'>Physicians</option>
      <option value ="diagnostics">Diagnostic Codes</option>
      <option value ="root">Physicians Report</option>
    </select>
      <input type=button value="Go" onclick="goToNewPage()" />
    </p>
    <p>If you are a physician and need to make notes about an appointment. Click <%= link_to 'here', appointments_path %>, and select edit on your appointment.</p>
  </div>

</div>