<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Physician</th>
      <th>Patient</th>
      <th>Invoice</th>
      <th>Time slot</th>
      <th>Appointment date</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.physician.last_name %></td>
        <td><%= appointment.patient.last_name %></td>
        <td><%= appointment.invoice_id %></td>
        <td><%= appointment.time_slot.name %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.note %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
