<p id="notice"><%= notice %></p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @appointment.invoice_id %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @appointment.time_slot_id %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @appointment.note %>
</p>
<%= link_to 'Edit', edit_appointment_path(@appointment) %>

<p>Thank you for scheduling your appointment with Dr. <%= @appointment.physician.last_name %>
today. We look forward to seeing you on <%= @appointment.appointment_date %> at <%= @appointment.time_slot.name %></p>.

<%= link_to 'Continue', root_path %>

